<div class="container-fluid">
    <div class="row barCC">
            <div class="pieContainer">
            <canvas height="400" class="barchart" id="lineChart" style="max-height: 400px; max-width: 90%;"></canvas>
            </div>
            <div  class="pieContainer">
                <canvas height="400" class="barchart" id="customerchart" style="max-height: 400px; max-width: 90%;"></canvas>

            </div>
    </div>
    <div class="row pieCC pb-4">
            <div class="pieContainer">
                <h3>Station Details </h3>
            <canvas height="400" class="piechart" id="stationchart" style="max-height: 400px; width: 100%;"></canvas>

            </div>
            <div class="pieContainer">
                <h3>Unit Consumed Details </h3>
                <canvas height="400" class="piechart" id="unitchart" style="max-height: 400px; width: 100%;"></canvas>

            </div>
            <div class="pieContainer">
                <h3>Charger Details</h3>
            <canvas height="400" class="piechart" id="chargerchart" style="max-height: 400px; width: 100%;"></canvas>

            </div>

    </div>
</div>
