<app-header></app-header>

        <h2 class="p-3 pb-0 text-align-start m-0 fw-bold">Dashboard</h2>
<app-cards></app-cards>
<div class="m-3 mb-5 mt-0">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2 class="text-align-start fw-bold">Monthly Details</h2>
        </div>
        <div class="d-flex align-items-center" style="cursor:pointer;" (click)="filter()">
            <h3 class="text-align-end m-0">Filter</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 26 26"><path fill="currentColor" d="M22 18.605a.75.75 0 0 1-.75.75h-5.1a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h7.74a2.93 2.93 0 0 1 5.66 0h5.1a.75.75 0 0 1 .75.75m0-13.21a.75.75 0 0 1-.75.75H18.8a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h10.39a2.93 2.93 0 0 1 5.66 0h2.45a.74.74 0 0 1 .75.75m0 6.6a.74.74 0 0 1-.75.75H9.55a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h1.14a2.93 2.93 0 0 1 5.66 0h11.7a.75.75 0 0 1 .75.75"/></svg>
        </div>
    </div>
    <div *ngIf="showFilter">
        <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select>
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button class="btn btn-success mx-2">Apply</button>
        <button class="btn btn-primary mx-2">Reset</button>

    </div>
<app-charts></app-charts>

</div>
